<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="onion">
      <section name="license" type="Onion.Common.Licensing.OnionLicenseConfigurationSection, Onion.Common" />
      <section name="imageserver" type="Onion.ImageServer.Configuration.ImageServerConfiguration, Onion.ImageServer.Impl"/>
      <section name="fileStorages" type="Onion.Common.FileStorage.FileStoragesSection, Onion.Common" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1210">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <onion>
    <license server="tcp://server:port/onion/server" />
    <fileStorages>
      <adapters>
        <add name="Onion.ImageServer.TraceFiles" storageType="Persistent" implementation="Onion.Common.FileStorage.NetFileStorage, Onion.Common">
          <settings><add name="path" value="App_Data\trace" /></settings>
        </add>
        <add name="Onion.ImageServer.CustomFonts" storageType="Persistent" implementation="Onion.Common.FileStorage.NetFileStorage, Onion.Common">
          <settings><add name="path" value="App_Data\customfonts" /></settings>
        </add>
      </adapters>
    </fileStorages>

    <!-- ghostscriptPath="{GhostScript-Installation}\bin\gswin32c.exe" -->
    <imageserver implementation="Onion.ImageServer.ImageServerImpl, Onion.ImageServer.AtalasoftImpl, Version=1.0.7.0, Culture=neutral, PublicKeyToken=634e7146cdfaaed4" historyItems="50" />
  </onion>

  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data\logs\debug-isvc.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="512KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="DebugAppender"/>
    </root>
  </log4net>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
