<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApacheFop" version="1.0.3076.40085" targetFramework="net45" />
  <package id="Common.Logging" version="2.3.1" targetFramework="net45" />
  <package id="Common.Logging.Log4Net1210" version="2.3.1" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Onion.Client" version="4.5.7.2411" targetFramework="net45" />
  <package id="Onion.RenderEngine.Web" version="4.5.7.2411" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="VjsLib" version="2.0.0" targetFramework="net45" />
</packages>