<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="onion">
      <section name="license" type="Onion.Common.Licensing.OnionLicenseConfigurationSection, Onion.Common" />
      <section name="editor" type="Onion.Client.Editor.Configuration.OnionEditorConfigurationHandler, Onion.Client.Editor.Impl" />
      <section name="fileStorages" type="Onion.Common.FileStorage.FileStoragesSection, Onion.Common" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="system.xml">
      <section name="xslt" type="System.Xml.XmlConfiguration.XsltConfigSection, System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <onion>
    <license server="http://server:port/onion/server" />
    <fileStorages>
      <adapters>
        <!--add name="Onion.RenderEngine.Cache" storageType="Temporary" implementation="Onion.Common.FileStorage.NetFileStorage, Onion.Common">
          <settings>
            <add name="path" value="d:\cache\web" />
          </settings>
        </add-->
      </adapters>
    </fileStorages>
    <editor server="http://server:port/onion/server" username="webserver" password="webserver" imageServer="" moduleSystem="Editor V2/Modulesystem">
      <!-- overrideSystemResources="true" -->
      <outputEngine
         autoConfiguration="http://server/autoconfig.ashx"
         impersonationTypes="authentication@onion"
		  />
      <storage clusters="4" />
      <debug enabled="false" requestLimit="1000"/>
    </editor>
  </onion>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1210">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\debug.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="500KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4r [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>

  <system.web>
    <pages validateRequest="false" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="409600" />
    <sessionState mode="StateServer" />
    <customErrors mode="Off" />
  </system.web>

  <system.xml>
    <xslt limitXPathComplexity="false"/>
  </system.xml>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
